[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git

[submodule "external/bgfx"]
	path = external/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "external/bimg"]
	path = external/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "external/bx"]
	path = external/bx
	url = https://github.com/bkaradzic/bx.git
